afw-rm/src/main/xsd/rcm-plugins-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://namespaces.github.com/jochenw/afw/rcm/RcmPlugins/1.0.0"
        xmlns:tns="http://namespaces.github.com/jochenw/afw/rcm/RcmPlugins/1.0.0"
        elementFormDefault="qualified">
  <xs:element name="rcm-plugins">
    <xs:complexType>
      <xs:sequence >
        <xs:element name="rcm-plugin" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="implClass" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>